.container-block > img {
    margin: 0.5em;
}

.container-block > .language-tags {
    width: 100%;
    margin-bottom: 10px;
}

.container-app {
    padding: 5px;
}

    .container-app > h1 {
        font-size: 1.3em;
    }

    .container-app > p {
        /*padding: 0em 1em;*/
        margin-right: 6%;
        margin-left: 6%;
        color: rgba(0,0,0,0.7);
        font-size: 0.8em;
        text-align: justify;
        text-indent: 2em;
    }

    .container-app > img {
        width: 80%;
    }

.language-tags > span {
    font-size: 0.6em;
    padding: 2px 10px;
    border-radius: 50px;
    color: rgba(0,0,0,0.95);
    background: rgba(0,0,0,0.1);
    border: 1px dotted black;
}

.language-tags > span:hover {
    background: rgba(0,0,0,1);
    color: white;
}