@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body {
    /*background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
            url("img/bg-duplicate-flipped.png");
 */
    background-image: linear-gradient(
            to top, 
            rgba(0, 0, 0, 0.9), 
            rgba(0, 0, 0, 0.9)
        ),
        url("img/elektron_logo_white.webp"),
        linear-gradient(
            to top, 
            rgba(0, 0, 0, 0.95), 
            rgba(0, 0, 0, 0.95)
        );
    background-position: top;
    background-size: 5% auto;
    background-repeat: repeat;

}


.container {
    background-image: url("img/bg-duplicate-flipped.webp");
    background-position: top;
    background-size: cover;
    background-repeat: repeat;

    text-align: center;
    min-height: 100vh;
    width: 56.25vh; /*9:16 ratio (100vh * 9/16) */
    max-width: 100vw;
}

.container-head {
    background-color: black;
    width: 100%;
    min-height: 10vh;
    height: calc(100vh - 100vw * 16/9);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pagetitle > a {
    color: white;
    text-decoration: none;
}

.container-main {
    /*background-image: url("img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;*/


    width: 100%;
    max-height: 100vh; /*100vw  * 16/9*/
    height: calc(min(100vw,56.25vh) * 16/9);

    display: flex;
    flex-direction: row;


}

.c-main-navbar {
    width: 16.5%;
    height: 100%;
    background-color: rgba(255,5,255,0);
    font-family: 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 1.4em;
    color: rgba(0,0,0,0.5);

    flex: 1 1 auto;
    overflow-y: auto;
}

.navbar-item {
    width: 97%;

    background-color: rgba(0,0,0,0);
    border-bottom: 5px dashed rgba(0,0,0,0.4);

    writing-mode: vertical-lr;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .navbar-item:hover{
        background-color: rgba(255,255,255,0.5);
    }

    .navbar-item > a {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        color: rgba(0,0,0,0.4);
        text-decoration: underline overline;
    }

.navbar-item-selected > a {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
    color: rgba(0,0,0,0.95);
    text-decoration: none;
}


.c-main-container {
    font-family: 'Noto Sans Bengali', 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 83.5%; /*100% - 16.5%*/
    height: 100vh;
    background-color: rgba(255,255,255,0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}


    .c-main-container > div > p {
        padding: 0em 1em;

        color: rgba(0,0,0,0.7);
        font-size: 0.8em;
        text-align: justify;
        text-indent: 2em;
    }

    .c-main-container > div > p:first-child {
        padding-top: 5%;
        font-size: 0.8em;
        color: rgba(0,0,0,0.9);
    }

    .c-main-container > div > p:last-child {
        padding-bottom: 5%;
    }

.container-empty-block {
    width: 50px;
    height: 20px;
    background-color: red;
    content: '?';
}

.container-block {
    background-color: rgba(255, 255, 255, 0.8);
}

.container-block:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

    .container-block > h2 {
        padding-top: 5%;

    }

    .container-block > h4 {
        font-weight: 400;
        padding: 1em;
        text-align: left;
        text-justify: inter-character;
    }

    .container-block > img {
        width: 80%;
        margin: 1em;
        background-size: cover;
        filter: drop-shadow(0 0 0.5rem black);
    }

    .container-block > img:hover {
        filter: drop-shadow(0 0 0.7rem black);
    }

    .container-block > ul {
        padding-left: 10%;
        padding-bottom: 0.3em;

        font-size: 0.8em;
        text-align: left;
        list-style-position: inside;
        columns: 2;
        color: rgba(0,0,0,0.7);
    }

    .container-block > h3 > a {
        text-decoration: none;
        color: black;
        border-bottom: 1px solid black;
    }

    .container-block > h4 > a {
        text-decoration: none;
        color: black;
        border-bottom: 1px solid black;
    }


    .container-block > h3 > a:after {
        content: '';
    }

    .container-block > h3 > a:hover {
        padding: 3px;
        background: black;
        color: white;
    }


.item-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 10%;
    padding-right: 10%;
}

.item-block > h3 {
    font-size: 1em;
    text-align: left;
}

.social-links {
    width: 100%;
    height: 1.5em;
}

    .social-links > a {
        font-family: 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
        text-decoration: none;

        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px dotted black;
        margin-bottom: 3px;
    }

#pagetitle {
    font-family: 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: ghostwhite;
}

#timestamp {
    font-family: 'Noto Sans Bengali', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    color: rgba(0,0,0,0.9);
    padding: 10px;
    overflow: hidden;
}

#intro {
    z-index: 1000;
    width: 56.25vh;
    height: 100vh;
}

/*
.container-block:nth-child(1) {
    position: absolute;
}*/



.footer > h4 {
    text-align: center;
}

.page-sized {
    background-color: rgba(0,0,0,0) !important;
    min-height: 100vh !important;
}