@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

/* Reset some default styles */
body, h1, p, .container {
    margin: 0;
    padding: 0;

    color: #111;
}

/* Style for the body */
body {
    font-family: 'Anek Bangla', Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
}

.container-top, .container-bottom{
    padding: 20px;
}

.container-middle {
    padding: 0;
}

header {
    width: 100%;
}

header > p {
    padding: 20px;


    font-family: 'Michroma', sans-serif;
    text-align: center;
    text-justify: inter-character;
}

header > img {
    width: 100%;
}


#bio {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: justify;

    display: grid;
    grid-template-columns: 4fr 1fr;
}

#bio:nth-child(0) {
    text-align: center;
}

.work-headline {
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
}




.accordion-body {
    padding: 0;
}


.accordion-button {
    color: #111; /* Change this to your desired text color */
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3; /* Change this to your desired active background color */
    color: #111; /* Change this to your desired active text color */
}

.accordion-button::after {
    filter: grayscale(100%);
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {

    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}


.nybff-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  .nybff-grid > .div1 { grid-area: 1 / 1 / 2 / 2; }
  .nybff-grid > .div2 { grid-area: 1 / 2 / 2 / 3; }
  .nybff-grid > .div3 { grid-area: 1 / 3 / 2 / 4; }
  .nybff-grid > .div4 { grid-area: 2 / 1 / 3 / 2; }
  .nybff-grid > .div5 { grid-area: 3 / 1 / 4 / 2; }
  .nybff-grid > .div6 { grid-area: 2 / 2 / 4 / 4; }
  .nybff-grid > .div7 { grid-area: 4 / 1 / 5 / 2; }
  .nybff-grid > .div8 { grid-area: 4 / 2 / 5 / 3; }
  .nybff-grid > .div9 { grid-area: 4 / 3 / 5 / 4; }
  .nybff-grid > .div10 { grid-area: 5 / 1 / 6 / 2; }
  .nybff-grid > .div11 { grid-area: 5 / 2 / 6 / 3; }
  .nybff-grid > .div12 { grid-area: 5 / 3 / 6 / 4; }
  
  .item {
    aspect-ratio : 1 / 1;
    width: 100%;
  }
  
  .item > img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


.bony-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

    .bony-grid > .div1 { grid-area: 1 / 1 / 2 / 2; }
    .bony-grid > .div2 { grid-area: 1 / 2 / 2 / 3; }
    .bony-grid > .div3 { grid-area: 1 / 3 / 2 / 4; }
    .bony-grid > .div4 { grid-area: 2 / 1 / 3 / 2; }
    .bony-grid > .div5 { grid-area: 3 / 1 / 4 / 2; }
    .bony-grid > .div6 { grid-area: 2 / 2 / 4 / 4; }
    .bony-grid > .div7 { grid-area: 4 / 1 / 5 / 2; }
    .bony-grid > .div8 { grid-area: 4 / 2 / 5 / 3; }
    .bony-grid > .div9 { grid-area: 4 / 3 / 5 / 4; }
    .bony-grid > .div10 { grid-area: 5 / 1 / 6 / 2; }
    .bony-grid > .div11 { grid-area: 5 / 2 / 6 / 3; }
    .bony-grid > .div12 { grid-area: 5 / 3 / 6 / 4; }

.side-by-side {
    display: flex;
    justify-content: space-between;
    text-align: center;

    font-family: "Anek Bangla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.section {
    flex: 1;
    margin: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

.container-bottom {
    text-align: center;
}



/* Container styling */
.container {
    max-width: 100%;
    margin: 0 auto;
}

/* Responsive styles */
@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 800px;
    }
}
