@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@500&display=swap');


/* Reset some default styles */
body, h1, p, .container {
    margin: 0;
    padding: 0;

    color: #111;
}

/* Style for the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
}

.container-top{
    padding: 20px;
}

.container-middle {
    padding: 0;
}

header {
    width: 100%;
}

header > p {
    padding: 20px;


    font-family: 'Michroma', sans-serif;
    text-align: center;
    text-justify: inter-character;
}

header > img {
    width: 100%;
}



.accordion-body {
    padding: 0;
}


.accordion-button {
    color: #111; /* Change this to your desired text color */
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3; /* Change this to your desired active background color */
    color: #111; /* Change this to your desired active text color */
}

.accordion-button::after {
    filter: grayscale(100%);
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {

    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 2 / 1 / 3 / 2; }
  .div5 { grid-area: 3 / 1 / 4 / 2; }
  .div6 { grid-area: 2 / 2 / 4 / 4; }
  .div7 { grid-area: 4 / 1 / 5 / 2; }
  .div8 { grid-area: 4 / 2 / 5 / 3; }
  .div9 { grid-area: 4 / 3 / 5 / 4; }
  .div10 { grid-area: 5 / 1 / 6 / 2; }
  .div11 { grid-area: 5 / 2 / 6 / 3; }
  .div12 { grid-area: 5 / 3 / 6 / 4; }
  
  .item {
    aspect-ratio : 1 / 1;
    width: 100%;
  }
  
  .item > img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }






.side-by-side {
    display: flex;
    justify-content: space-between;
    text-align: center;

    font-family: "Anek Bangla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.section {
    flex: 1;
    margin: 10px;
}




/* Container styling */
.container {
    max-width: 100%;
    margin: 0 auto;
}

/* Responsive styles */
@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 800px;
    }
}
