.container-block > h3{
    padding: 10px;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}


.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 5px;
    font-size: 30px;
    text-align: center;
}

    .grid-item > img {
        max-width: 100%;
        filter: drop-shadow(0 0 0.5rem black);
    }